body {
  width: 90%;
  padding: 50px;
  margin: auto;
  font-family: $font-family-sans;
  color: $font-color;
  background-color: $main-color;
}

/****************************
Contenedores
*****************************/
.info,
.personal,
.professional {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}

.professional {
  color: $font-color-second;
  background-color: $second-color;
}

section {
  padding: 10px 0;
}

header {
  padding: 15px 0;
}

.aboutme__info,
.contact__item {
  line-height: 2rem;
}

/*other*/
.logo {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.logo__item {
  padding: 10px;
}

/*task of experience*/
.tasklist {
  padding: 0 5px;
}

.photo__item {
  clip-path: circle(40%);
}

.footer{
  text-align: center;
}

/*Mobile*/
@media (min-width: 320px) and (max-width: 767px) {
  .info {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  body {
    font-size: .888rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

/*Tablet and desktop*/
@media (min-width: 768px) {
  .info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  /*experience e education*/
  .experiencetasks,
  .educationboxes,
  .languagesboxes,
  .certificationsboxes,
  .coursesboxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
  }

  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
